<div id="homepage">
  <h3 class="homepage-header">Welcome to Here and Now!</h3>
  <p class="homepage-text">
    Here and Now is the only location-based social media website.
  </p>
  <p class="homepage-text">
    Instead of attaching posts to personal pages, posts on Here and Now are attached to the place where they're posted from.
  </p>
  <p class="homepage-text">
    See something interesting? Want to reconnect with a missed connection?
  </p>
  <p class="homepage-text">
    Simply make an account and go to the maps page to make a post and see posts by other users.
  </p>
  <p class="homepage-text">
    Other users will be able to see your post on the Map. If they have something to say about it, they can send you a message.
  </p>
</div>