{{!-- my key: AIzaSyA-yWrlY4NA89Bb737Cfad_neoCwGciu2c --}}
<h1>The Map</h1>
<div id="map"></div>
<button id="addpost">Add Post</button>
<div id = "postarea"></div>
<script src="/javascript/get-location.js"></script>
<script src="/javascript/add-post.js"></script>
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-yWrlY4NA89Bb737Cfad_neoCwGciu2c&callback=initMap">
  </script>
